.title{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
}

.menuopen{
  height: 40px;
}

.gnb{
  width: 200px;
  display: none;
}
.on{
  display: block;
}
ul{
  width: 100%;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid black;
}